<%- include header %>
<div class="text-center page-title"><%=title %> </div>
<div class="container">
	<div class="jumbotron">
		<h1>我的第一个Bootsrap页面</h1>
		<p><a href="/detail">查看笔记</a></p>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<h3>第一列</h3>
			<p>学的不是技术，更是梦想</p>
			<p>在牛逼的梦想。也抵不过傻逼似坚持</p>
		</div>
		<div class="col-sm-4">
			<h3>第一列</h3>
			<p>学的不是技术，更是梦想</p>
			<p>在牛逼的梦想。也抵不过傻逼似坚持</p>
		</div>
		<div class="col-sm-4">
			<h3>第一列</h3>
			<p>学的不是技术，更是梦想</p>
			<p>在牛逼的梦想。也抵不过傻逼似坚持</p>
		</div>
	</div>
</div>
<!-- 内容结束 -->
<%- include footer %>